<div id="footer_container" class="footer_container">
    <div class="footer-content">
        <div>
            <a href="#">Mentions légales</a>
            <a href="#">Politique de confidentialité</a>
            <a href="#">Conditions générales de vente</a>
            <a href="#">Contacts</a>
        </div>
    </div>

</div>
