<div id="header_container" class="header_container">

    <div class="header_content">
        <div class="header_icon_content">

        </div>
        <div class="header_title_content">
            <h2>Espace de gestion des membres</h2>
        </div>
        <div class="header_logout_content">

            <a id="logout" href="#">
                <i   class="small material-icons">power_settings_new</i> logout
            </a>
        </div>

    </div>

</div>
<div id="menu_container" class="menu_container">
    <div class="menu_content">
        <div class="menu_title">

        </div>
        <div class="vertical-menu">
            <a href="#Home" class="active">
                <i class="tiny material-icons">home</i> Home
            </a>
            <a href="#Membres">
                <i class="tiny material-icons">group</i> Membres
            </a>
            <a href="#">
                <i class="tiny material-icons">euro_symbole</i>Dons
            </a>
            <a href="#">
                <i class="tiny material-icons">person</i> Mon profil
            </a>
            <a id="logout_menu" href="#"><i   class="tiny material-icons">power_settings_new</i> logout</a>
        </div>
    </div>
</div>