<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8">
    <title>Membres list</title>

</head>
<body>


<div class="page_content">


    <div id="header"></div>

    <div id="body"></div>
    <div id="footer"></div>


</div>



<div id="modal1" class="modal">
    <div class="modal-content">
        <form name="form_modal" id="form_modal" class="form_modal"  >

            <label for="first_name">first name</label>
            <input id="first_name" name="first_name" type="text"/>

            <label for="last_name">last name</label>
            <input name="last_name" type="text"/>

            <label for="phone">phone</label>
            <input name="phone" type="text"/>

            <label for="mail">mail</label>
            <input name="mail" type="text"/>

            <label for="address">address</label>
            <input name="adress" type="text"/>

            <label for="code_postal">code</label>
            <input name="code_postal" type="text"/>

            <label for="site_aut">Autorise photo sur site web ? </label>

            <select id="authorized_web" name="authorized_web" class="select">
                <option value="non">non</option>
                <option value="oui">oui</option>
            </select>

            <br/>
            <label for="site_rs">Autorise photo sur Réseaux sociaux ? </label>

            <select id="authorized_rs" name="authorized_rs"  class="select">
                <option value="non">non</option>
                <option value="oui">oui</option>
            </select>
            <br/>
            <label for="site_press">Autorise photo dans la press ? </label>
            <select id="authorized_press" name="authorized_press"  class="select">
                <option value="non">non</option>
                <option value="oui">oui</option>
            </select>

            <label for="cotisation">cotisation</label>
            <input name="cotisation" type="text" value="30"/>

        </form>


        <div class="modal-footer">
            <a id="valid" class="modal-close  waves-effect waves-light btn"><i class="material-icons left">check</i>Valid</a>
            <a class="modal-close  waves-effect waves-light btn"><i class="material-icons left">close</i>Cancel</a>
        </div>
    </div>
</div>
<script>

    try {
        $('#modal1').modal();
        console.log("modal intieialized")
    } catch (e) {
        console.info('loading modal auto-initialized..');
    }

</script>
<script type="module" src="./public/bundle.js" charset="utf-8"></script>

</body>
</html>