<div class="container_login" id="container_login">



    <div id="login_content">
        <p>
            Ce site nécéssite que vous vous authentifiez avec votre compte Google.
        </p>
        <p>
            <a id="openid" class="waves-effect waves-light btn"><i class="material-icons left">check</i>Authenticate with Google</a>
        </p>
    </div>
</div>