<div id="body_container" class="body_container">
    <div class="body-button-container">

        <a id="add_modal" href="#modal1" class=" waves-effect waves-light btn modal-trigger"><i class="material-icons left">add</i>Create members</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>export</a>
        <a class="waves-effect waves-light btn">
            <i class="material-icons left">file_upload</i>import</a>
        </a>

    </div>
    <div id="alert_container" class="alert card red lighten-4 red-text text-darken-4">
        <div class="card-content">
            <p><i class="material-icons">report</i><span></span></p>
        </div>
    </div>

    <table id="table_members" class="higlight centered">
        <thead>
        <tr>
            <th>icon</th>
            <th>nom</th>
            <th>prénom</th>
            <th>tel</th>
            <th>mail</th>
            <th>adresse</th>
            <th>ville</th>
            <th>code postale</th>
            <th>autorisation RS</th>
            <th>autorisation site web</th>
            <th>autorisation press</th>
            <th>cotisation</th>
            <th>actions</th>

        </tr>
        </thead>
        <tbody>



        </tbody>

    </table>


</div>